<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Eat-Da-BURDER</title>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet"> 
    <link rel="stylesheet" href="./assets/css/burger_style.css">
    <script src="./assets/js/front.js"></script>
    
</head>
<body>
    <h1 id="title" >Eat-Da-Berder</h1> 
    <div style="border-bottom: 5px solid red;">
        <img src="./assets/img/burger.png" alt="placeholder" style="display: block; width: 300px; height: auto; margin: auto;">
    </div>
    {{{body}}}
</body>
</html>