<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Eat-Da-BURDER</title>

    <link rel="stylesheet" href="./assets/css/burger_style.css"> 
</head>
<body>
    <h1 style= "margin: auto; display: block; text-align: center;">Eat-Da-Berder</h1> 
    <div>
        <img src="http://via.placeholder.com/300" alt="placeholder" style="display: block; width: auto; margin: auto;">
    </div>
    {{{body}}}
</body>
</html>