* {
    font-family: 'Bangers', cursive;
}

html {
    margin: 0;
    height: 100%;
    background-color: goldenrod;
}

body {
    width: 80%;
    margin: 0 auto;
}

#title {
    margin: auto;
    display: block;
    text-align: center;
    font-size: 5em;
    text-shadow: 3px 3px 3px white;

}

.sub-title {
    text-align: center;
    margin: 2px auto;
    font-size: 2em;
    text-shadow: 2px 2px 2px white;
}

#left,
#center,
#right {
    width: 32%;
}


.flex-container {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
}

.flex-item {
    flex-grow: 1;
    flex-shrink: 1;
}

#burger-name {

    margin: auto;
    text-align: center;
    display: block;

}

.col-left {
    display: inline-block;
    width: 60%;
    height: 100%;
    margin: .25em 0;
}

.col-right {
    display: inline-block;
    width: 30%;
    height: 100%;
    margin: .25em 0;
}

.eat-burger {
    margin: .75em;
}

.display-burger {
    width: 60%;
}

#add-burger {
    display: block;
    width: 80%;
    margin: .75em auto;
    line-height: 1.5em;
    font-size: 2em;
    border: 3px solid red;
    border-radius: 5px;
    background-color: burlywood;
    box-shadow: 3px 3px 3px white;

}

#add-burger:hover {
    background-color: maroon;
    color: white;

}

#add-burger:focus {
    box-shadow: none;
}